.sidebar {
  background: #15171c;
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  top: 0;
  left: -50%;
 transition: 350ms; 
  z-index: 10;
}

.sidebar.inactive {
  width: 80px;
}

.sidebar.inactive .sidebar-wrap span{
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  /* display:'none' */
}

.sidebar-wrap {
  width:100%
}